
<p *ngIf="blueClass"> The button is blue </p>
<button (click)="blueClass=!blueClass" [ngClass]="{blue:blueClass}"
[ngStyle]="{ 'font-size.px':fontSize }">Change</button>
<hr>
<p>Hello {{name.toUpperCase()}} </p>
<p>
  Hello {{getName() | titlecase}}
</p>
<div>
  <h4>{{ currentDate | date:'d MMMM yyyy' }}</h4>
</div>

<p> {{10+90}} </p>
<p>{{ cost | currency:'INR'}}</p>>
<p>{{tempreature | number:'1.0'}}</p>
<p>{{details | json}}</p>

<input [value]="imageURL" (keyup)="changeImage($event)">
<app-post *ngFor="let imgs of images;let i=index" [img]="imgs" (imageSelected)="logImage($event)">
  <p>{{ i+1}} Image</p>
</app-post>



<!--Structural directives must be applied to ng-template element-->
